 

  .formContainer{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-image: url(./../../assets/image/Application-Tracking.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .formCard{
   width: 30%;
   background-color: #ffffff5c;
   margin-left: 20%;
   /* margin-top: 4%; */
   border-radius: 5px;
   /* border: 1px solid white; */
    
  }  

  .loginForm{
    padding: 5px 40px 0 0 !important;


  }

  .formCard > Form{
    border: none !important;
    
  }

  .logoWrapper{
    width: 200px;
    height: 180px;
    margin: auto;
    
  }

  .boldUser{
    font-weight: bold;
  }

  .boldPass{
    font-weight: bold;
  }