.container{
    width: 100%;
    /* margin: 50px auto; */
}

.heading{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    
}

.card{
    width: 20%;
    background-color: cadetblue;
    border: 1px solid black;
    transition: 0.3s;
}

.card_header{
    text-align: center;
    padding: 20px 10px;


}

.card_body{
    padding: 30px 20px;
    text-align: center;
}
 
.card_body .btn{
    display: block;
    text-align: center;

}

 /* .circleCard{
    /* Change background color */
  /* background-color: #1c50b900; */

  /* Add border */
  /* border: 1px solid #bacdd8; */

  /* Add space between the border and the content */
  /* padding: 8px; */

  /* border-radius: 12px; */
/* }   */

.addJobButton{
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.crossicon{
    text-align: right;
    cursor: pointer;
    position: absolute;
    font: icon;
    right: 16px;
    top: 8px;
}