.container{
    width: 100%;
    /* margin: 50px auto; */
}

.heading{
    text-align: center;
    font-size: 30px;
    
}

.card{
    width: 20%;
    background-color: cadetblue;
    border: 1px solid black;
    transition: 0.3s;
}

.card_header{
    text-align: center;
    padding: 20px 10px;

}

.card_body{
    padding: 30px 20px;
    text-align: center;
}
 
.card_body .btn{
    display: block;
    text-align: center;

}